<link rel="stylesheet" href="/static/style.css">

<div class="container">
<h2>Register User</h2>

<input id="user_id" placeholder="ID">
<input id="name" placeholder="Name">

<video id="video" width="400" autoplay></video>

<br>
<button onclick="capture()">📸 Capture</button>
<button onclick="submitData()">✅ Submit</button>

<p id="count">Captured: 0 / 5</p>

<script>
let images = [];

navigator.mediaDevices.getUserMedia({video:true})
.then(stream => video.srcObject = stream);

function capture(){
    if(images.length >= 5){
        alert("Done capturing");
        return;
    }

    let canvas = document.createElement("canvas");
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;

    let ctx = canvas.getContext("2d");
    ctx.drawImage(video, 0, 0);

    let data = canvas.toDataURL("image/jpeg", 1.0); // full quality

    images.push(data);

    document.getElementById("count").innerText =
        "Captured: " + images.length + " / 5";
}

function submitData(){
    if(images.length < 5){
        alert("Capture 5 images first");
        return;
    }

    fetch("/register",{
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify({
            user_id:document.getElementById("user_id").value,
            name:document.getElementById("name").value,
            images:images
        })
    }).then(r=>r.json()).then(d=>alert(d.status));
}
</script>
</div>